@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #000;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20%;
  background-color: #66a5fd;
  color: #f9faf8;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 40px;
  margin: 0 9%;
}

.grid-item {
  width: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  box-shadow: 2px 2px 17px 0;
}

img {
  width: 100%;
  height: 240px;
  border-radius: 5px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}

h2,
.likes {
  font-size: 13px;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.likes {
  text-align: start;
  padding: 0 4%;
}

p {
  margin: 0;
}

button {
  width: 90%;
  margin: 10px 9px;
  background-color: #ec5242;
  color: #f0f2f5;
  border: 0;
  padding: 2%;
  border-radius: 5px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #66a5fd;
  color: #fff;
  padding: 22px 0;
  vertical-align: middle;
}

.github-link:hover {
  color: rgb(194, 73, 3);
  transition: 0.9s ease;
}

.hidden {
  display: none;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(7, 8, 8, 0.861);
  box-sizing: border-box;
  overflow-y: scroll;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#close {
  color: red;
  background-color: #fff;
  padding: 6px;
  transition: 0.5s;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#close:hover {
  color: white;
  background-color: #000;
}

.date {
  padding: 5px;
}

.popup-image {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.popup-window {
  background-color: rgb(255, 207, 149);
  width: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
}

.dish-name,
.comments-counter,
.add {
  font-family: "Courgette", cursive;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.commentrow-bg {
  background-color: #fff;
}

.comments-generator {
  border: 2px solid black;
  display: block;
}

input {
  display: block;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 7px;
  border: none;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background-color: #66a5fd;
  transition: 0.9s ease;
}

@media screen and (min-width: 50em) {
  .popup-window {
    width: 50%;
  }
}
